argcomplete==3.0.8
argh==0.28.1
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
et-xmlfile==1.1.0
fonttools==4.44.0
gffutils==0.11.1
idna==3.4
Jinja2==3.1.2
jsonlines==3.1.0
kiwisolver==1.4.5
lxml==4.9.3
MarkupSafe==2.1.2
matplotlib==3.8.1
ncbi-datasets-pylib==15.27.1
numpy==1.26.1
openpyxl==3.1.2
packaging==23.2
pandas==2.1.2
Pillow==10.1.0
protobuf==4.23.0
pyfaidx==0.7.2.1
pyparsing==3.1.1
pysradb==2.2.0
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
requests-ftp==0.3.1
setuptools==67.7.2
simplejson==3.19.1
six==1.16.0
tqdm==4.66.1
tzdata==2023.3
urllib3==1.26.15
wheel==0.41.3
xmltodict==0.13.0
